In [2]:
import pandas as pd

In [33]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [34]:
data.drop(columns=["RowNumber","CustomerId","Surname"],inplace=True)

In [27]:
data.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [35]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler

labelEncoder=LabelEncoder()
gender=labelEncoder.fit_transform(data[["Gender"]])

c:\Users\spasula\AppData\Local\miniconda3\envs\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [36]:
data['Gender']=gender
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [37]:
data['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [38]:
onehotencoder=OneHotEncoder()
Geography=onehotencoder.fit_transform(data[['Geography']])
Geography.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [39]:
data=pd.concat([data.drop(columns=['Geography'],axis=1),pd.DataFrame(Geography.toarray(),columns=onehotencoder.get_feature_names_out(['Geography']))],axis=1)
data.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [44]:
from sklearn.model_selection import train_test_split

data_train,data_test=train_test_split(data,test_size=0.2,random_state=42)
print(data_train)

      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
9254          686       1   32       6       0.00              2          1
1561          632       1   42       4  119624.60              2          1
1670          559       1   24       3  114739.92              1          1
6087          561       0   27       9  135637.00              1          1
6669          517       1   56       9  142147.32              1          0
...           ...     ...  ...     ...        ...            ...        ...
5734          768       1   54       8   69712.74              1          1
5191          682       0   58       1       0.00              1          1
5390          735       0   38       1       0.00              3          0
860           667       1   43       8  190227.46              1          1
7270          697       1   51       1  147910.30              1          1

      IsActiveMember  EstimatedSalary  Exited  Geography_France  \
9254               1        179093.26       0               1.0
1561               1        195978.86       0               0.0
1670               0         85891.02       1               0.0
6087               0        153080.40       1               1.0
6669               0         39488.04       1               1.0
...              ...              ...     ...               ...
5734               1         69381.05       0               1.0
5191               1           706.50       0               1.0
5390               0         92220.12       1               1.0
860                0         97508.04       1               1.0
7270               1         53581.14       0               0.0

      Geography_Germany  Geography_Spain
9254                0.0              0.0
1561                1.0              0.0
1670                0.0              1.0
6087                0.0              0.0
6669                0.0              0.0
...                 ...              ...
5734                0.0              0.0
5191                0.0              0.0
5390                0.0              0.0
860                 0.0              0.0
7270                1.0              0.0

[8000 rows x 13 columns]

In [45]:
standardscaler=StandardScaler()
data_train=pd.DataFrame(standardscaler.fit_transform(data_train),columns=data_train.columns)
data_train.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [46]:
data_test=pd.DataFrame(standardscaler.transform(data_test),columns=data_test.columns)

In [47]:
data_test

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,-0.577496,0.913248,-0.655786,-0.695393,0.329937,0.808436,-1.540351,-1.025834,-1.019605,-0.50858,-0.998501,1.725723,-0.576388
1,-0.297297,0.913248,0.390011,-1.389442,-1.218471,0.808436,0.649203,0.974817,0.798883,-0.50858,1.001501,-0.579467,-0.576388
2,-0.525607,-1.094993,0.485083,-0.348369,-1.218471,0.808436,0.649203,-1.025834,-0.727980,-0.50858,-0.998501,-0.579467,1.734942
3,-1.511492,0.913248,1.911170,1.039728,0.689272,0.808436,0.649203,0.974817,1.221387,-0.50858,-0.998501,1.725723,-0.576388
4,-0.951094,-1.094993,-1.131148,0.692704,0.782839,-0.916688,0.649203,0.974817,0.247560,-0.50858,-0.998501,-0.579467,1.734942
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,-0.515230,-1.094993,1.340735,-0.001345,0.354911,-0.916688,-1.540351,0.974817,-0.963100,1.96626,-0.998501,1.725723,-0.576388
1996,-0.442586,0.913248,-1.321293,1.733777,-1.218471,-0.916688,-1.540351,0.974817,0.164545,-0.50858,1.001501,-0.579467,-0.576388
1997,0.813120,-1.094993,0.770301,0.692704,-1.218471,-0.916688,0.649203,-1.025834,-1.165916,1.96626,1.001501,-0.579467,-0.576388
1998,0.418766,0.913248,-0.941003,-0.348369,-1.218471,-0.916688,0.649203,-1.025834,-0.411635,1.96626,1.001501,-0.579467,-0.576388
1999,-0.245409,0.913248,0.009721,-1.389442,0.628256,-0.916688,0.649203,0.974817,0.125932,1.96626,-0.998501,1.725723,-0.576388

In [49]:
import pickle

In [50]:
with open('./picklefiles/lableencoder.pkl','wb') as file:
    pickle.dump(labelEncoder,file)

In [51]:
with open('./picklefiles/onehotencoder.pkl','wb') as file:
    pickle.dump(onehotencoder,file)

In [52]:
with open('./picklefiles/standardscaler.pkl','wb') as file:
    pickle.dump(standardscaler,file)

In [54]:
data_train.to_csv('./data/data_train.csv')

In [55]:
data_test.to_csv('./data/data_test.csv')

In [ ]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense